:root {
  --clr-sedan: hsl(31, 77%, 52%);
  --clr-suv: hsl(184, 100%, 22%);
  --clr-luxury: hsl(179, 100%, 13%);
  --clr-p: hsla(0, 0%, 100%, 0.75);
  --clr-h: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container-fluid {
  width: 100%;
  padding: 2em 1em;
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  border-radius: 0.5em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

.cards .card-sedan {
  background: var(--clr-sedan);
}

.cards .card-sedan a {
  color: var(--clr-sedan);
}

.cards .card-suv {
  background: var(--clr-suv);
}

.cards .card-suv a {
  color: var(--clr-suv);
}

.cards .card-luxury {
  background: var(--clr-luxury);
}

.cards .card-luxury a {
  color: var(--clr-luxury);
}

.cards .card {
  padding: 3em;
}

.cards .card img {
  width: 5em;
}

.cards .card h1 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--clr-h);
  text-transform: uppercase;
  margin: 0.5em 0;
}

.cards .card p {
  font-size: 1rem;
  color: var(--clr-p);
  max-width: 400px;
}

.cards .card a {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  background: #fff;
  padding: 0.75em 2em;
  border: 2px solid #fff;
  border-radius: 10em;
  margin-top: 2.5em;
}

.cards .card a:hover, .cards .card a:active, .cards .card a:focus {
  background: transparent;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .container-fluid {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards .card {
    max-width: 260px;
    min-height: 450px;
    padding: 2em 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card img {
    width: 4em;
  }
  .cards .card h1 {
    font-size: 2.4rem;
  }
  .cards .card p {
    font-size: 0.9rem;
    max-width: 100%;
  }
  .cards .card div {
    margin-top: auto;
  }
  .cards .card div a {
    font-size: 0.9rem;
    padding: 0.5em 1.8em;
  }
}

@media only screen and (min-width: 800px) {
  .cards .card {
    min-height: 500px;
  }
  .cards .card img {
    width: 4.8em;
  }
  .cards .card h1 {
    font-size: 3rem;
  }
  .cards .card p {
    font-size: 1rem;
  }
  .cards .card div a {
    font-size: 1rem;
    padding: 0.6em 2em;
  }
}
/*# sourceMappingURL=style.css.map */